/********************** body ************************************/
body {
	font-family: Calibri, 'MS Sans Serif', sans-serif;
	padding: 25px
}

/********************** noscript-warning ************************/

span#js-warning {
	font-size:200%;
	font-weight:bold;
	padding: 10px;
	border: solid red 3px
}

/****************************** citations ***********************/

cite {
	font-style: italic;
}

cite:before {
	content: '"'
}

cite:after {
	content: '"'
}

/****************************** links ***************************/

a:link, a:visited {
	color: navy;
	font-weight: bold;
	text-decoration: none
}

/****************************** navigation *********************/

.nav-pane {
	background-color: white;
	text-align: center;
	width: 100%;
	display: table;
	border-spacing: 0px;
	height: auto
}

.nav-element {
	width: 20%;
	border-bottom: solid red 5px;
	font-weight: bold;
	cursor: pointer;
	display: table-cell;
}

.nav-element:hover, .nav-element:focus {
	background-color: #EFEFEF;
	border-bottom: solid darkred 5px;
}

.nav-element[selected=true] {
	border-bottom: solid green 5px;
	cursor: default;
	pointer-events: none;
}

/*********************************************************************************************************************/

li {
	margin-bottom: 5px
}

pre, code {
	background-color: #DEDEDE;
	padding: 2px;
	margin: 5px;
	font-family: Consolas, Courier New, monospace;
	font-size: 90%;
}

pre em, code em { /* comments */
	color: green;
}

pre.outline { /* code out of line */
	margin-left: 25px;
	margin-right: 25px;
}

pre[versioned=true]:first-line {	/* highlight version information in first line */
	font-weight: bold;	
}

blockquote {
	border: solid lightgray 3px;
	padding: 2px
}

p.paragraph {
	margin-left: 25px;
	margin-right: 25px;
	text-align: justify
}

h2.sub-header {
	margin-left: 10px;
	margin-right: 10px
}