body {
	font-family: Calibri, 'MS Sans Serif', sans-serif;
	padding: 25px
}

li {
	margin-bottom: 5px
}

pre, code {
	background-color: #DEDEDE;
	padding: 2px;
	margin: 5px;
	font-family: Consolas, Courier New, monospace;
	font-size: 80%;
}

pre em, code em { /* comments */
	color: green;
}

pre.outline { /* code out of line */
	margin-left: 25px;
	margin-right: 25px;
}

pre[versioned=true]:first-line {	/* highlight version information in first line */
	font-weight: bold;	
}

blockquote {
	border: solid lightgray 3px;
	padding: 2px
}

cite {
	font-style: italic;
}

cite:before {
	content: '"'
}

cite:after {
	content: '"'
}

a:link, a:visited {
	color: navy;
	font-weight: bold;
	text-decoration: none
}

p.paragraph {
	margin-left: 25px;
	margin-right: 25px;
	text-align: justify
}

h2.sub-header {
	margin-left: 10px;
	margin-right: 10px
}

table.nav-pane {
	background-color: white;
	text-align: center;
	width: 100%;
	border-spacing: 0px;
	height: auto
}

td.nav-element {
	width: 20%;
	border-bottom: solid red 5px;
	font-weight: bold;
	cursor: pointer
}

td.nav-element[selected=true] {
	border-bottom: solid green 5px;
	cursor: default
}

td.nav-element:hover, td.nav-element:focus {
	background-color: #EFEFEF;
	border-bottom: solid darkred 5px;
}

td.nav-element[selected=true]:hover, td.nav-element:focus {
	background-color: inherit;
	border-bottom: solid green 5px;
}