li.tutorial-entry {
	padding: 5px;
	border: solid lightgray 5px;
	border-bottom: solid red 5px
}

ol.index {
	margin: 5px;
	width: 25%;
	background-color: #EEEEEE;
	list-style-type: decimal-leading-zero;
	float: left
}

li.index-entry {


}

li.index-entry a {
}

li.index-entry a:hover {
	text-decoration: underline
}

table.requirements {
	width: 50%;
	border-collapse:collapse;
	border-spacing: 0px;
	margin: 5px;
}